
<html lang="en">
<head>
    <title>AirLines | Aircrafts</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="~/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_600.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_400.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_400.font.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie6_script_other.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
</head>
<body id="page2">
    <!-- START PAGE SOURCE -->
    <div class="body1">
        <div class="main">
            <header>
                <div class="wrapper">
                    <h1><a href="/Home/index" id="logo">AirLines</a><span id="slogan">International Travel</span></h1>
                    <div class="right">
                        <nav>
                            <ul id="top_nav">
                                <li><a href="#"><img src="~/images/img1.gif" alt=""></a></li>
                                <li><a href="#"><img src="~/images/img2.gif" alt=""></a></li>
                                <li class="bg_none"><a href="#"><img src="~/images/img3.gif" alt=""></a></li>
                            </ul>
                        </nav>
                        <nav>
                            <ul id="menu">
                                <li><a href="/Home/index">Home</a></li>
                                <li id="menu_active"><a href="/Home/aircrafts">Our Aircraft</a></li>
                                <li><a href="/Home/safety">Safety</a></li>
                                <li><a href="/Home/charters">Charters</a></li>
                                <li><a href="/Home/contacts">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="main">
        <div id="banner">
            <div class="text1">
                COMFORT<span>Guaranteed</span>
                <p>Making Skies The Best Place In World.</p>
            </div>
        </div>
    </div>
    <div class="main">
        <section id="content">
            <article class="col1">
                <div class="pad_1">
                    <h2>Your Flight Planner</h2>
                    <form id="form_1" action="#" method="post">
                        <div class="wrapper pad_bot1">
                            <div class="radio marg_right1">
                                <input type="radio" name="name1">
                                Round Trip<br>
                                <input type="radio" name="name1">
                                One Way
                            </div>
                        </div>
                        <div class="wrapper">
                            Leaving From:
                            <div class="bg">
                                <input type="text" class="input input1" value="Enter City or Airport Code" onblur="if(this.value=='') this.value='Enter City or Airport Code'" onfocus="if(this.value =='Enter City or Airport Code' ) this.value=''">
                            </div>
                        </div>
                        <div class="wrapper">
                            Going To:
                            <div class="bg">
                                <input type="text" class="input input1" value="Enter City or Airport Code" onblur="if(this.value=='') this.value='Enter City or Airport Code'" onfocus="if(this.value =='Enter City or Airport Code' ) this.value=''">
                            </div>
                        </div>
                        <div class="wrapper">
                            Departure Date and Time:
                            <div class="wrapper">
                                <div class="bg left">
                                    <input type="text" class="input input2" value="mm/dd/yyyy " onblur="if(this.value=='') this.value='mm/dd/yyyy '" onfocus="if(this.value =='mm/dd/yyyy ' ) this.value=''">
                                </div>
                                <div class="bg right">
                                    <input type="text" class="input input2" value="12:00am" onblur="if(this.value=='') this.value='12:00am'" onfocus="if(this.value =='12:00am' ) this.value=''">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            Return Date and Time:
                            <div class="wrapper">
                                <div class="bg left">
                                    <input type="text" class="input input2" value="mm/dd/yyyy " onblur="if(this.value=='') this.value='mm/dd/yyyy '" onfocus="if(this.value =='mm/dd/yyyy ' ) this.value=''">
                                </div>
                                <div class="bg right">
                                    <input type="text" class="input input2" value="12:00am" onblur="if(this.value=='') this.value='12:00am'" onfocus="if(this.value =='12:00am' ) this.value=''">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <p>Passenger(s):</p>
                            <div class="bg left">
                                <input type="text" class="input input2" value="# passengers" onblur="if(this.value=='') this.value='# passengers'" onfocus="if(this.value =='# passengers' ) this.value=''">
                            </div>
                            <a href="form.html" class="button2">go!</a>
                        </div>
                    </form>
                    <h2>Only with Us!</h2>
                    <p class="under">Fly the friendly Skies.</p>
                    <p class="under">Adventure is worthwhile in itself.</p>
                    <p class="under">Experience the Excitement.</p>
                </div>
            </article>
            <article class="col2 pad_left1">
                <h2>About Our Aircraft</h2>
                <div class="wrapper">
                    <figure class="left marg_right1"><img src="~/images/page2_img1.jpg" alt=""></figure>
                    <p>gliDer's fleet of modern aircraft are spacious, comfortable, and designed to get you to your destination safely. gliDers operates a range of advanced aircraft, ranging from the world's preferred Boeing 777 airplane to the super-quiet Airbus A-310.A brief introduction of gliDer's fleet is given below:</p>
                </div>
                <h3>BOEING 777</h3>
                <div class="wrapper">
                    <!--<figure class="left marg_right1"><img src="images/page2_img1.jpg" alt=""></figure>-->
                    <p>The Boeing 777 family comprises of long-range, wide-body twin-engine airplanes. We operate all the three variants of the 777 family: 777-200LR, 777-200ER and 777-300ER.</p>
                    <h3>BOEING 747</h3>
                    <p>The Boeing 747, often referred to as “Jumbo Jet”, is amongst the world's most iconic and recognizable jet airplanes. This 4 engine long haul wide-body airplane has a two-deck configuration. We operates two variants of 747 family which includes 747-300 and 747-200 Combi.</p>
                    <h3>Airbus A310</h3>
                    <p>The Airbus A310 is a medium to long range wide-body airplane providing a spacious interior to its travelers.</p>
                    <h3>BOEING 737</h3>
                    <p>The Boeing 737 is one of the world's favorite narrow-body short/medium haul jet airplane. Amongst its many credits, it has the distinction of being the most ordered and produced commercial airplane</p>
                    <h3>ATR42</h3>
                    <p>This modern technology turbo prop is the latest type inducted in gliDer’s fleet. gliDer’s fleet of seven ATR42-500 aircraft is configured in comfortable two class seating arrangement.</p>
            </article>
        </section>
    </div>
    <div class="body2">
        <div class="main">
            <footer>
                <div class="footerlink">
                    <p class="lf">Copyright &copy; 2015 <a href="#">Domain Name</a> - All Rights Reserved</p>
                    <p class="rf">Design by <a href="http://www.templatemonster.com/">SARS</a></p>
                    <div style="clear:both;"></div>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
    <!-- END PAGE SOURCE -->
</body>
</html>