
<html lang="en">
<head>
    <title>AirLines</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/form.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="~/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_600.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_400.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_400.font.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie6_script_other.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
</head>
<body id="page1">
    <!-- START PAGE SOURCE -->
    <div class="body1">
        <div class="main">
            <header>
                <div class="wrapper">
                    <h1><a href="/Home/index" id="logo">AirLines</a><span id="slogan">International Travel</span></h1>
                    <div class="right">
                        <nav>
                            <ul id="top_nav">
                                <li><a href="#"><img src="~/images/img1.gif" alt=""></a></li>
                                <li><a href="#"><img src="~/images/img2.gif" alt=""></a></li>
                                <li class="bg_none"><a href="#"><img src="~/images/img3.gif" alt=""></a></li>
                            </ul>
                        </nav>
                        <nav>
                            <ul id="menu">
                                <li id="menu_active"><a href="/Home/index">Home</a></li>
                                <li><a href="/Home/aircrafts">Our Aircraft</a></li>
                                <li><a href="/Home/safety">Safety</a></li>
                                <li><a href="/Home/charters">Charters</a></li>
                                <li><a href="/Home/contacts">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="main">
        <div id="banner">
            <div class="text1">
                COMFORT<span>Guaranteed</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <a href="#" class="button_top">Order Tickets Online</a>
        </div>
    </div>
    <div class="main">
        <div id="f_middle">
            <div id="l_f_middle"></div>
            <div id="c_f_middle">
                <div id="l_c_f_middle"></div>
                <div id="r_c_f_middle">
                    <h2 align="center" style="color:#F69">Registration Form</h2><br>
                    <form action="practice" method="get">

                        FirstName <input id="" name="" value="Enter your First Name" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" onclick="this.value='' ; this.style.color='#000'"><br><br>
                        MiddleName <input id="mName" name="" value="Enter your Middle Name" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" onclick="this.value='' ; this.style.color='#000'"><br><br>
                        LastName <input id="" name="" value="Enter Your Last Name" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" onclick="this.value='' ; this.style.color='#000'"><br><br>
                        CNIC <input id="" name="" value="Enter your CNIC number" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" onclick="this.value='' ; this.style.color='#000'"><br><br>
                        Age <input id="" name="" value="Enter your Age here" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" " onClick=" this.value='' ; this.style.color='#000' "><br><br>
                        <h4>Gender</h4>
                        Male<input id="male" name="gender" value="male" type="radio">
                        Female<input checked="checked" id="female" name="gender" value="Female" type="radio"><br><br>
                        StreetAddress<input id="" name="" value="Street Address" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" " onClick=" this.value='' ; this.style.color='#000' "><br><br>
            Email_ID <input id=" " name=" " value=" enter your email_id here" type="text" style="color:#CCCCCC;;width:250px; margin-left:30px" " onClick=" this.value='' ; this.style.color='#000' "><br><br>
            ContactNumber <input id=" " name=" " value=" enter your contact no. here" type="number" style="color:#CCCCCC;width:250px; margin-left:30px" " onClick=" this.value='' ; this.style.color='#000' "><br><br>
            DateOfBirth <select id=" day" name="Day">
                        <option>Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option selected="selected">5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        </select>
                        <select id="Month" name="Month">
                            <option>Month</option>
                            <option>January</option>
                            <option selected="selected">Febraury</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        <select id="Year" name="Year">
                            <option>Year</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                            <option>2008</option>
                            <option>2007</option>
                            <option>2006</option>
                            <option>2005</option>
                            <option>2004</option>
                            <option>2003</option>
                            <option>2002</option>
                            <option>2001</option>
                            <option>2000</option>
                            <option>1999</option>
                            <option>1998</option>
                            <option>1997</option>
                            <option selected="selected">1996</option>
                            <option>1995</option>
                            <option>1994</option>
                            <option>1993</option>
                            <option>1992</option>
                            <option>1991</option>
                            <option>1990</option>
                            <option>1989</option>
                            <option>1988</option>
                            <option>1987</option>
                            <option>1986</option>
                            <option>1985</option>
                            <option>1984</option>
                            <option>1983</option>
                            <option>1982</option>
                            <option>1981</option>
                            <option>1980</option>
                            <option>1979</option>
                            <option>1978</option>
                            <option>1977</option>
                            <option>1976</option>
                            <option>1975</option>
                            <option>1974</option>
                            <option>1973</option>
                            <option>1972</option>
                            <option>1971</option>
                            <option>1970</option>
                            <option>1969</option>
                            <option>1968</option>
                            <option>1967</option>
                            <option>1966</option>
                            <option>1965</option>
                            <option>1964</option>
                            <option>1963</option>
                            <option>1962</option>
                            <option>1961</option>
                            <option>1960</option>
                            <option>1959</option>
                            <option>1958</option>
                            <option>1957</option>
                            <option>1956</option>
                            <option>1955</option>
                            <option>1954</option>
                            <option>1953</option>
                            <option>1952</option>
                            <option>1951</option>
                            <option>1950</option>
                            <option>1949</option>
                            <option>1948</option>
                            <option>1947</option>
                            <option>1946</option>
                            <option>1945</option>
                            <option>1944</option>
                            <option>1943</option>
                            <option>1942</option>
                            <option>1941</option>
                            <option>1940</option>
                            <option>1939</option>
                            <option>1938</option>
                            <option>1937</option>
                            <option>1936</option>
                            <option>1935</option>
                            <option>1934</option>
                            <option>1933</option>
                            <option>1932</option>
                            <option>1931</option>
                            <option>1930</option>
                            <option>1929</option>
                            <option>1928</option>
                            <option>1927</option>
                            <option>1926</option>
                            <option>1925</option>
                            <option>1924</option>
                            <option>1923</option>
                            <option>1922</option>
                            <option>1921</option>
                            <option>1920</option>
                            <option>1919</option>
                            <option>1918</option>
                            <option>1917</option>
                            <option>1916</option>
                            <option>1915</option>
                            <option>1914</option>
                            <option>1913</option>
                            <option>1912</option>
                            <option>1911</option>
                            <option>1910</option>
                            <option>1909</option>
                            <option>1908</option>
                            <option>1907</option>
                            <option>1906</option>
                            <option>1905</option>
                            <option>1904</option>
                            <option>1903</option>
                            <option>1902</option>
                            <option>1901</option>
                            <option>1900</option>
                            <option>1899</option>
                            <option>1898</option>
                            <option>1897</option>
                            <option>1896</option>
                            <option>1895</option>
                            <option>1894</option>
                            <option>1893</option>
                            <option>1892</option>
                            <option>1891</option>
                            <option>1890</option>
                            <option>1889</option>
                            <option>1888</option>
                            <option>1887</option>
                            <option>1886</option>
                            <option>1885</option>
                            <option>1884</option>
                            <option>1883</option>
                            <option>1882</option>
                            <option>1881</option>
                            <option>1880</option>
                            <option>1879</option>
                            <option>1878</option>
                            <option>1877</option>
                        </select><br><br>
                        City<input id="" name="" value="City_Name" type="text" style="color:#CCCCCC;width:250px; margin-left:30px" " onClick=" this.value='' ; this.style.color='#000' "><br><br>
            state<select id=" state" name="state_Name" value="">
                        <option>State</option>
                        <option selected="selected">English(United States)</option>
                        <option>English(United Kingdom)</option>
                        <option>English(South Africa)</option>
                        <option>English(New Zeland)</option>
                        <option>English(Australia)</option>
                        <option>English(Phillippines)</option>
                        <option>English(Singapore)</option>
                        <option>English(Malaysia)</option>
                        <option>English(India)</option>
                        <option>English(Ireland)</option>
                        <option>English(Maktoob)</option>
                        <option>English(Canada)</option>
                        <option>eesti(Eesti)</option>
                        <option>Bahasa Indonesia(Indonesia)</option>
                        <option>dansk(Danmark)</option>
                        <option>Francais(Canada)</option>
                        <option>Francais(France)</option>
                        <option>Francais(Belgique)</option>
                        <option>espanol(Peru)</option>
                        <option>espanol(Mexico)</option>
                        <option>Filipino(pilipinas)</option>
                        <option>Nederlands(Nederland)</option>
                        <option>Nederlands(Belgie)</option>
                        </select><br><br>
                        Country<select id="country" name="country">
                            <option>Country</option>
                            <option>America</option>
                            <option>England</option>
                            <option>Afghanistan</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                            <option>Andorra</option>
                            <option>Angola</option>
                            <option>Azerbaijan</option>
                            <option>Antigua and barbuda</option>
                            <option>Aruba</option>
                            <option>Austrailia</option>
                            <option>Armenia</option>
                            <option>Austria</option>
                            <option>Bahamas</option>
                            <option>Bahrain</option>
                            <option>Barbados</option>
                            <option>Bangladesh</option>
                            <option>Benin</option>
                            <option>Belgium</option>
                            <option>Bermoda</option>
                            <option>Bhutan</option>
                            <option>Brazil</option>
                            <option>Canada</option>
                            <option>China</option>
                            <option>Chile</option>
                            <option>Chad</option>
                            <option>Denmark</option>
                            <option>Dominica</option>
                            <option>Djibouti</option>
                            <option>Egypt</option>
                            <option>Estonia</option>
                            <option>Ethiopia</option>
                            <option>France</option>
                            <option>Fiji</option>
                            <option>Finland</option>
                            <option>French guiana</option>
                            <option>Falkland Islands</option>
                            <option>Gabon</option>
                            <option>Gambia</option>
                            <option>Germany</option>
                            <option>Ghana</option>
                            <option>Greece</option>
                            <option>Greenland</option>
                            <option>Grenada</option>
                            <option>Holy Sea</option>
                            <option>Hong Kong</option>
                            <option>Hungary</option>
                            <option>India</option>
                            <option>Iraq</option>
                            <option>Ireland</option>
                            <option>Israel</option>
                            <option>Indonesia</option>
                            <option>Iran</option>
                            <option>Italy</option>
                            <option>Japan</option>
                            <option>Jordan</option>
                            <option>Jamaica</option>
                            <option>Kenya</option>
                            <option>Kuwait</option>
                            <option>Kyrgyzstan</option>
                            <option>Kiribati</option>
                            <option>Laos</option>
                            <option>Libanon</option>
                            <option>Liberia</option>
                            <option>Libya</option>
                            <option>Latvia</option>
                            <option>Mali</option>
                            <option>Malta</option>
                            <option>Mexico</option>
                            <option>Mongolia</option>
                            <option>Nepal</option>
                            <option>Netherlands</option>
                            <option>Netherlands Antilles</option>
                            <option>New Zealand</option>
                            <option>Niger</option>
                            <option>Nigeria</option>
                            <option>Norway</option>
                            <option>Oman</option>
                            <option selected="selected">Pakistan</option>
                            <option>Panama</option>
                            <option>Peru</option>
                            <option>Poland</option>
                            <option>Phillippines</option>
                            <option>Portugal</option>
                            <option>Qatar</option>
                            <option>Russia</option>
                            <option>Romania</option>
                            <option>Saudi Arabia</option>
                            <option>Samoa</option>
                            <option>Senigal</option>
                            <option>Serbia</option>
                            <option>Singapore</option>
                            <option>South Africa</option>
                            <option>Sri Lanka</option>
                            <option>Sudan</option>
                            <option>Spain</option>
                            <option>Sweden</option>
                            <option>Switzerland</option>
                            <option>Syria</option>
                            <option>Tajikistan</option>
                            <option>Thailand</option>
                            <option>Turkey</option>
                            <option>Taiwan</option>
                            <option>Togo</option>
                            <option>Tonga</option>
                            <option>Uganda</option>
                            <option>United States</option>
                            <option>United Kingdom</option>
                            <option>United Arab Emirates</option>
                            <option>Uzbekistan</option>
                            <option>Vanuata</option>
                            <option>Vietnam</option>
                            <option>Virgin Islands</option>
                            <option>Wallis and Futtuna Islands</option>
                            <option>Yemen</option>
                            <option>Zimbabwe</option>
                            <option>Zambia</option>
                        </select><br><br>
                        <input type="button" id="" name="" value="submit" style="
      background:#F39;
      color:#000;
      border: none;
      padding: 10px 20px;
      margin-left:300px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      cursor: pointer; ">
                    </form>
                </div>
            </div>

            <div id="r_f_middle"></div>
        </div>
    </div>
    <div class="body2">
        <div class="main">
            <footer>
                <div class="footerlink">
                    <p class="lf">Copyright &copy; 2010 <a href="#">Domain Name</a> - All Rights Reserved</p>
                    <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
                    <div style="clear:both;"></div>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
    <!-- END PAGE SOURCE -->
</body>
</html>