
<html lang="en">
<head>
    <title>AirLines</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="~/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_600.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_400.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_400.font.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie6_script_other.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
</head>
<body id="page1">
    <!-- START PAGE SOURCE -->
    <div class="body1">
        <div class="main">
            <header>
                <div class="wrapper">
                    <h1><a href="/Home/index" id="logo"> gliDers </a><span id="slogan">Classy National Travels</span></h1>
                    <div class="right">
                        <nav>
                            <ul id="top_nav">
                                <li><a href="#"><img src="~/images/img1.gif" alt=""></a></li>
                                <li><a href="#"><img src="~/images/img2.gif" alt=""></a></li>
                                <li class="bg_none"><a href="#"><img src="~/images/img3.gif" alt=""></a></li>
                            </ul>
                        </nav>
                        <nav>
                            <ul id="menu">
                                <li id="menu_active"><a href="/Home/index">Home</a></li>
                                <li><a href="/Home/aircrafts">Our Aircraft</a></li>
                                <li><a href="/Home/safety">Safety</a></li>
                                <li><a href="/Home/charters">Charters</a></li>
                                <li><a href="/Home/contacts">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="main">
        <div id="banner">
            <div class="text1">
                COMFORT<span>Guaranteed</span>
                <p> <br /> <br /> Making Skies The Best Place In World</p>
            </div>
            <a href="#" class="button_top">Order Tickets Online</a>
        </div>
    </div>
    <div class="main">
        <section id="content">
            <article class="col1">
                <div class="pad_1">
                    <h2>Your Flight Planner</h2>
                    <form id="form_1" action="#" method="post">
                        <div class="wrapper pad_bot1">
                            <div class="radio marg_right1">
                                <input type="radio" name="name1">
                                Round Trip<br>
                                <input type="radio" name="name1">
                                One Way
                            </div>
                        </div>
                        <div class="wrapper">
                            Leaving From:
                            <div class="bg">
                                <input type="text" class="input input1" value="Enter City or Airport Code" onblur="if(this.value=='') this.value='Enter City or Airport Code'" onfocus="if(this.value =='Enter City or Airport Code' ) this.value=''">
                            </div>
                        </div>
                        <div class="wrapper">
                            Going To:
                            <div class="bg">
                                <input type="text" class="input input1" value="Enter City or Airport Code" onblur="if(this.value=='') this.value='Enter City or Airport Code'" onfocus="if(this.value =='Enter City or Airport Code' ) this.value=''">
                            </div>
                        </div>
                        <div class="wrapper">
                            Departure Date and Time:
                            <div class="wrapper">
                                <div class="bg left">
                                    <input type="text" class="input input2" value="mm/dd/yyyy " onblur="if(this.value=='') this.value='mm/dd/yyyy '" onfocus="if(this.value =='mm/dd/yyyy ' ) this.value=''">
                                </div>
                                <div class="bg right">
                                    <input type="text" class="input input2" value="12:00am" onblur="if(this.value=='') this.value='12:00am'" onfocus="if(this.value =='12:00am' ) this.value=''">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            Return Date and Time:
                            <div class="wrapper">
                                <div class="bg left">
                                    <input type="text" class="input input2" value="mm/dd/yyyy " onblur="if(this.value=='') this.value='mm/dd/yyyy '" onfocus="if(this.value =='mm/dd/yyyy ' ) this.value=''">
                                </div>
                                <div class="bg right">
                                    <input type="text" class="input input2" value="12:00am" onblur="if(this.value=='') this.value='12:00am'" onfocus="if(this.value =='12:00am' ) this.value=''">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <p>Passenger(s):</p>
                            <div class="bg left">
                                <input type="text" class="input input2" value="# passengers" onblur="if(this.value=='') this.value='# passengers'" onfocus="if(this.value =='# passengers' ) this.value=''">
                            </div>
                            <a href="/Home/form" class="button2">go!</a>
                        </div>
                    </form>
                    <h2>Only with Us!</h2>
                    <p class="under">Fly the friendly Skies.</p>
                    <p class="under">Adventure is worthwhile in itself.</p>
                    <p class="under">Experience the Excitement.</p>
                </div>
            </article>
            <article class="col2 pad_left1">
                <h2>Welcome to our Website!</h2>
                <p class="color1">Here we present you the most compfortable Airline - The Gliders. Proud of Nation, serving people from many years. We provide you the most safest journey, as said for us, Light is fastest but we are safest. Our Airline makes the skies the best place in the world. We are for sure the best choice to make. So, come Fly With Us. We are sure you will like us.</p>
                <p class="color1">Keep Calm and travel on Gliders.</p>
                <div class="marker">
                    <div class="wrapper">
                        <p class="pad_bot2"><strong>Aircraft</strong></p>
                        <p class="pad_bot2">Glider's fleet of modern aircrafts are spacious , comfortable , and designed to get you to your destination safely. Glider operates a range of advanced aircrafts.</p>
                    </div>
                </div>
                <!-- <div class="wrapper pad_bot2"><a href="#" class="button1">Read More</a></div>-->
                <div class="marker">
                    <div class="wrapper">
                        <p class="pad_bot2"><strong>Charters</strong></p>
                        <p class="pad_bot2">A large Network of offices, decades of experience, access to over 10,000 aircrafts and personal account managers who are available 24X7X365 enables gliDers to provide only the highest level of comfort, and most importantly safety to our clients.</p>
                    </div>
                </div>
                <!--<div class="wrapper pad_bot2"> <a href="#" class="button1">Reservation</a> <a href="#" class="button2">Fleet</a> </div>-->
                <div class="wrapper">
                    <article class="cols">
                        <h2>Our Clients</h2>
                        <p><strong>Comfort, Speed, Safety </strong>are the three major things we keep our focus on and are not ready to compromise on any of these in any condition. We keep our customers before anything. </p>
                        <p>Thier Problem is our Problem. We just focus on what makes our clients comfortable and we just give you the opportunity to Travel like a CEO and pay like an emp.</p>
                    </article>
                    <div class="box1">
                        <div class="pad_1">
                            <div class="wrapper">
                                <p class="pad_bot2"> "A commercial Aircraft is a vehicle capable of supporting itself aerodynamically & economically at the same time."</p>
                                <p>
                                    <span class="right">Wiliam B. Stout</span>&nbsp;<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="body2">
        <div class="main">
            <footer>
                <div class="footerlink">
                    <p class="lf">Copyright &copy; 2015 <a href="#">Domain Name</a> - All Rights Reserved</p>
                    <p class="rf">Design by <a href="http://www.templatemonster.com/">SARS</a></p>
                    <div style="clear:both;"></div>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
    <!-- END PAGE SOURCE -->
</body>
</html>