
<html lang="en">
<head>
    <title>AirLines | Safety</title>
    <meta charset="utf-8">
    
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="~/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_600.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_400.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_400.font.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie6_script_other.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
</head>
<body id="page3">
    <!-- START PAGE SOURCE -->
    <div class="body1">
        <div class="main">
            <header>
                <div class="wrapper">
                    <h1><a href="/Home/index" id="logo">AirLines</a><span id="slogan">International Travel</span></h1>
                    <div class="right">
                        <nav>
                            <ul id="top_nav">
                                <li><a href="#"><img src="~/images/img1.gif" alt=""></a></li>
                                <li><a href="#"><img src="~/images/img2.gif" alt=""></a></li>
                                <li class="bg_none"><a href="#"><img src="~/images/img3.gif" alt=""></a></li>
                            </ul>
                        </nav>
                        <nav>
                            <ul id="menu">
                                <li><a href="/Home/index">Home</a></li>
                                <li><a href="/Home/aircrafts">Our Aircraft</a></li>
                                <li id="menu_active"><a href="/Home/safety">Safety</a></li>
                                <li><a href="/Home/charters">Charters</a></li>
                                <li><a href="/Home/contacts">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="main">
        <div id="banner">
            <div class="text1">
                COMFORT<span>Guaranteed</span>
                <p>Making Skies The Best Place In World.</p>
            </div>
        </div>
    </div>
    <div class="main">
        <section id="content">
            <article class="col1">
                <div class="pad_1">
                    <h2>Your Flight Planner</h2>
                    <form id="form_1" action="#" method="post">
                        <div class="wrapper pad_bot1">
                            <div class="radio marg_right1">
                                <input type="radio" name="name1">
                                Round Trip<br>
                                <input type="radio" name="name1">
                                One Way
                            </div>
                        </div>
                        <div class="wrapper">
                            Leaving From:
                            <div class="bg">
                                <input type="text" class="input input1" value="Enter City or Airport Code" onblur="if(this.value=='') this.value='Enter City or Airport Code'" onfocus="if(this.value =='Enter City or Airport Code' ) this.value=''">
                            </div>
                        </div>
                        <div class="wrapper">
                            Going To:
                            <div class="bg">
                                <input type="text" class="input input1" value="Enter City or Airport Code" onblur="if(this.value=='') this.value='Enter City or Airport Code'" onfocus="if(this.value =='Enter City or Airport Code' ) this.value=''">
                            </div>
                        </div>
                        <div class="wrapper">
                            Departure Date and Time:
                            <div class="wrapper">
                                <div class="bg left">
                                    <input type="text" class="input input2" value="mm/dd/yyyy " onblur="if(this.value=='') this.value='mm/dd/yyyy '" onfocus="if(this.value =='mm/dd/yyyy ' ) this.value=''">
                                </div>
                                <div class="bg right">
                                    <input type="text" class="input input2" value="12:00am" onblur="if(this.value=='') this.value='12:00am'" onfocus="if(this.value =='12:00am' ) this.value=''">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            Return Date and Time:
                            <div class="wrapper">
                                <div class="bg left">
                                    <input type="text" class="input input2" value="mm/dd/yyyy " onblur="if(this.value=='') this.value='mm/dd/yyyy '" onfocus="if(this.value =='mm/dd/yyyy ' ) this.value=''">
                                </div>
                                <div class="bg right">
                                    <input type="text" class="input input2" value="12:00am" onblur="if(this.value=='') this.value='12:00am'" onfocus="if(this.value =='12:00am' ) this.value=''">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <p>Passenger(s):</p>
                            <div class="bg left">
                                <input type="text" class="input input2" value="# passengers" onblur="if(this.value=='') this.value='# passengers'" onfocus="if(this.value =='# passengers' ) this.value=''">
                            </div>
                            <a href="form.html" class="button2">go!</a>
                        </div>
                    </form>
                    <h2>Only with Us!</h2>
                    <p class="under">Fly the friendly Skies.</p>
                    <p class="under">Adventure is worthwhile in itself.</p>
                    <p class="under">Experience the Excitement.</p>
                </div>
            </article>
            <article class="col2 pad_left1">
                <h2>About Safety</h2>
                <div class="wrapper">
                    <figure class="left marg_right1"><img src="~/images/page3_img1.jpg" alt=""></figure>
                    <p><strong>IATA Operational Safety Audit (IOSA) </strong> is basic requirement to retain airline’s IATA membership. gliDer is among the few developing country airlines which are compliant to IATA Operational Safety Audit (IOSA) requirements and standards since 2005.  </p>
                </div>
                <div class="wrapper">
                    <br />
                    <figure class="left marg_right1"><img src="~/images/page3_img2.jpg" alt=""></figure>
                    <p>A typical IOSA Certification Audit is based on a check list comprising of +950 IATA Standards and Recommended Practices.An airline must pass through a series of periodic recertification audits by IATA approved Audit Organization to retain its IATA membership We are successfully maintaining its IOSA certification.</p>
                </div>
                <!--<div class="wrapper"><a href="#" class="button1">Read More</a></div>-->
                <h2>Safety Programs</h2>
                <p>One of the programs that will help fulfill this mission is the Regulation and Certification Infrastructure for System Safety (RCISS) program.   RCISS will provide the Information Technology (IT) infrastructure to the FAA’s Office of Aviation Safety (AVS) safety workforce so it will have access to safety data at the time and location needed to assess safety factors in real-time.</p>
                <!--<div class="wrapper pad_bot1">
                  <!--<ul class="list1 cols marg_right1">
                    <li><a href="#">Lipsum quia dolor amet consectetur</a></li>
                    <li><a href="#">Vdipisci velit, sed quia non numquam</a></li>
                    <li><a href="#">Dius modi tempora incidunt</a></li>
                    <li><a href="#">Uliquam quaerat voluptatem enim</a></li>
                  </ul>-->
                <!--<ul class="list1 cols">
                    <li><a href="#">Quis nostrum exercitationem</a></li>
                    <li><a href="#">Quis autem vel eum iure reprehender</a></li>
                    <li><a href="#">Ullam corporis suscipit laboriosam</a></li>
                    <li><a href="#">Nisi ut aliquid ex commodi</a></li>
                  </ul>
                </div>-->
            </article>
        </section>
    </div>
    <div class="body2">
        <div class="main">
            <footer>
                <div class="footerlink">
                    <p class="lf">Copyright &copy; 2015 <a href="#">Domain Name</a> - All Rights Reserved</p>
                    <p class="rf">Design by <a href="http://www.templatemonster.com/">SARS</a></p>
                    <div style="clear:both;"></div>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
    <!-- END PAGE SOURCE -->
</body>
</html>